.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background: rgb(255,255,255);
    background: url(https://www.aspose.com/img/bg-newheader.webp) center center/cover no-repeat;
    color: white;
}
.display-4, .display-6{
    font-weight: 700;
}
body{
    font-family: 'Poppins', sans-serif;
}